<body id="page-top">

<app-nav></app-nav>

<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div id="content-wrapper">
    <div class="container-fluid">

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>
          Zamówienia
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th *ngIf="url == 'unallocated'">Zaznacz</th>
                <th>Numer zamówienia</th>
                <th>Użytkownik</th>
                <th>Data</th>
                <th>Status</th>
                <th *ngIf="url == 'allocated'">Opcje</th>
              </tr>
              <tr>
                <th><input type="text"  class="form-control" placeholder="Wyszukaj po numerze zamówienia" /></th>
                <th><input type="text"  class="form-control" placeholder="Wyszukaj po użytkowniku" /></th>
                <th><input type="text"  class="form-control" placeholder="Wyszukaj po dacie" /></th>
                <th><input type="text"  class="form-control" placeholder="Wyszukaj po statusie" /></th>
                <th></th>
              </tr>
              </thead>
              <!--<tfoot>-->
              <!--<tr>-->
              <!--<th>Kategoria</th>-->
              <!--<th>Opcje</th>-->
              <!--</tr>-->
              <!--</tfoot>-->

              <tbody>

              <tr *ngFor="let order of orders">
                <td *ngIf="url == 'unallocated'"><input type="checkbox" [(checklist)]="checkedOrders" [checklistValue]="order.id"></td>
                <td>{{order.id}}</td>
                <td>{{order.user.username}}</td>
                <td>{{order.createdAt| date: 'yyyy-MM-dd'}}</td>
                <td>{{order.status}}</td>
                <td *ngIf="url == 'allocated'">
                  <a class='btn btn-info btn-xs' [routerLink]="['/order/',order.id]"><span class="glyphicon glyphicon-edit"></span>Szczegóły</a>
                </td>
              </tr>

              </tbody>

            </table>
          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
        <div class="card-footer" *ngIf="url == 'unallocated'">
          <span><button (click)="assign()">Przypisz</button></span>
        </div>
      </div>

      <!--<p class="small text-center text-muted my-5">-->
      <!--<em>More table examples coming soon...</em>-->
      <!--</p>-->

    </div>
    <!-- Sticky Footer -->
    <app-footer></app-footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!-- Core plugin JavaScript-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!-- Page level plugin JavaScript-->
<!--<script src="vendor/chart.js/Chart.min.js"></script>-->
<!--<script src="vendor/datatables/jquery.dataTables.js"></script>-->
<!--<script src="vendor/datatables/dataTables.bootstrap4.js"></script>-->

<!-- Custom scripts for all pages-->
<!--<script src="js/sb-admin.min.js"></script>-->

<!-- Demo scripts for this page-->
<!--<script src="js/demo/datatables-demo.js"></script>-->
<!--<script src="js/demo/chart-area-demo.js"></script>-->

</body>
