<div id="shop">
  <div class="container">
    <div class="row bar">
      <div class="col-md-3">
      </div>
      <div class="col-md-9">
        <div class="form-block col-md-7">
          <h2>{{title}}</h2>
          <div class="form">
            <form action="post" autocomplete="off" method="POST">

              <div class="form-group">
                <label>Nazwa:</label>
                <input [(ngModel)]="manufacturer.name" type="text" class="form-control"
                       name="name">
              </div>

              <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">
                <a class="btn btn-danger custom-btn left-col" [routerLink]="['/admin/manufacturer']">Cofnij</a>
                <button (click)="save()" class="btn btn-default custom-btn right-col">Zapisz</button>
              </div>
            </form>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
