<div class="panel panel-default sidebar-menu">
  <div class="panel-heading">
    <h3 class="h4 panel-title">Panel administratora</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <!--<li class="nav-item">-->
      <!--<a [routerLink]="['/user/details']" routerLinkActive="active" class="nav-link d-flex align-items-center justify-content-between">-->
      <!--<span>Dane osobowe</span>-->
      <!--</a>-->
      <!--<a [routerLink]="['/user/orders']" routerLinkActive="active" class="nav-link d-flex align-items-center justify-content-between">-->
      <!--<i class="fa fa-list"></i>-->
      <!--<span>Zamówienia</span>-->
      <!--</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a [routerLink]="['/admin/order']" routerLinkActive="active" class="nav-link"><i class="fa fa-shopping-basket"></i> Zamówienia</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/product']" routerLinkActive="active" class="nav-link"><i class="fa fa-archive"></i> Produkty</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/manufacturer']" routerLinkActive="active" class="nav-link"><i class="fa fa-industry"></i> Producenci</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/category']" routerLinkActive="active" class="nav-link"><i class="fa fa-sitemap"></i> Kategorie</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/user']" routerLinkActive="active" class="nav-link"><i class="fa fa-users"></i> Użytkownicy</a>
      </li>

    </ul>
  </div>
</div>
