<div class="panel panel-default sidebar-menu">
  <div class="panel-heading">
    <h3 class="h4 panel-title">Panel użytkownika</h3>
  </div>
  <div class="panel-body">
    <ul class="nav nav-pills flex-column text-sm">
      <!--<li class="nav-item">-->
        <!--<a [routerLink]="['/user/details']" routerLinkActive="active" class="nav-link d-flex align-items-center justify-content-between">-->
          <!--<span>Dane osobowe</span>-->
        <!--</a>-->
        <!--<a [routerLink]="['/user/orders']" routerLinkActive="active" class="nav-link d-flex align-items-center justify-content-between">-->
          <!--<i class="fa fa-list"></i>-->
          <!--<span>Zamówienia</span>-->
        <!--</a>-->
      <!--</li>-->
      <li class="nav-item">
        <a [routerLink]="['/user/details']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-user"></i> Moje dane
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/user/orders']" routerLinkActive="active" class="nav-link">
          <i class="fa fa-user"></i> Zamówienia
        </a>
      </li>
    </ul>
  </div>
</div>

