<div id="shop">
  <div class="container">
    <div class="row bar">

      <div class="col-md-9">
        <h2>Reklamacja dla zamówienia: {{id}}</h2>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Opis reklamacji:</label>
              <input [(ngModel)]="description" type="text" class="form-control"
                     name="description" required>
            </div>
          </div>
        </div>
        <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">
          <a style="background: indianred;" class="btn btn-danger custom-btn left-col" [routerLink]="['/user/order/' + id]">Wróć do zamówienia</a>
          <button (click)="update()" class="btn btn-default custom-btn right-col">Złóż reklamację</button>
        </div>
      </div>


    </div>
  </div>
