<body id="page-top">

<app-nav></app-nav>

<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div id="content-wrapper">
    <div class="container-fluid">

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>
          Produkty
        </div>
        <div class="card-body">
          <div class="table-responsive">

            <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Wyszukaj po nazwie produktu" />

            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th></th>
                <th colspan="2">Nazwa</th>
                <th>Ilosć</th>
                <th>Cena</th>
                <th>Opcje</th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th colspan="6">
                  <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">
                    <a class="btn  custom-btn left-col"></a>
                    <a class="btn btn-info right-col" [routerLink]="['create']">Dodaj produkt</a>
                  </div>
                </th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let product of products | jsonFilterBy: [searchText, 'name']">
                <td><img src="{{product.image}}" alt="White Blouse Armani"></td>
                <td colspan="2"><a [routerLink]="['/product/',product.id]">{{product.name}}</a></td>
                <td>{{product.count}}</td>
                <td>{{product.price | number: '1.2-2'}} zł</td>
                <td><a class='btn btn-info btn-xs' [routerLink]="['/product/',product.id]"><span
                  class="glyphicon glyphicon-edit"></span>Edytuj</a></td>
              </tr>

              </tbody>
            </table>

            <!--pagination-->
            <div class="row">
              <div class="pages col-md-12">
                <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                  <ul class="pagination" *ngIf="totalPages.length>1">
                    <li class="page-item"><a href="" class="page-link"> <i class="fa fa-angle-double-left"></i></a></li>
                    <li class="page-item" *ngFor="let p of totalPages; let i = index" [ngClass]="{'active' : i==page}">
                      <a href="" class="page-link" (click)="setPage(i,$event)">{{i+1}}</a>
                    </li>
                    <li class="page-item"><a href="" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>

      <!--<p class="small text-center text-muted my-5">-->
      <!--<em>More table examples coming soon...</em>-->
      <!--</p>-->

    </div>
    <!-- Sticky Footer -->
    <app-footer></app-footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!-- Core plugin JavaScript-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!-- Page level plugin JavaScript-->
<!--<script src="vendor/chart.js/Chart.min.js"></script>-->
<!--<script src="vendor/datatables/jquery.dataTables.js"></script>-->
<!--<script src="vendor/datatables/dataTables.bootstrap4.js"></script>-->

<!-- Custom scripts for all pages-->
<!--<script src="js/sb-admin.min.js"></script>-->

<!-- Demo scripts for this page-->
<!--<script src="js/demo/datatables-demo.js"></script>-->
<!--<script src="js/demo/chart-area-demo.js"></script>-->

</body>
