<body id="page-top">

<app-nav></app-nav>

<div id="wrapper">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>
  <div id="content-wrapper">
    <div class="container-fluid">

      <!-- DataTables Example -->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i>
          Edytuj użytkownika: {{user.id}}
        </div>
        <div class="card-body">
          <div class="form">
            <form action="post" autocomplete="off" method="POST">
              <div class="form-group">
                <label>Nazwa użytkownika:</label>
                <input [(ngModel)]="user.username" type="text" class="form-control"
                       name="username">
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input [(ngModel)]="user.email" type="email" class="form-control"
                       name="email">
              </div>

              <div class="form-group">
                <label>Rola:</label>
                <select class="form-control" name="role" [(ngModel)]="user.role">
                  <option [value]="'ADMIN'" [selected]="user.role == 'ADMIN'">Administrator</option>
                  <option [value]="'CUSTOMER'" [selected]="user.role == 'CUSTOMER'">Klient</option>
                  <option [value]="'DIRECTOR'" [selected]="user.role == 'DIRECTOR'">Dyrektor</option>
                  <option [value]="'SELLER'" [selected]="user.role == 'SELLER'">Sprzedawca</option>
                </select>
              </div>
            <hr>


            </form>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Imie:</label>
                <input [(ngModel)]="user.firstname" type="text" class="form-control"
                       name="firstname" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Nazwisko:</label>
                <input [(ngModel)]="user.lastname" type="text" class="form-control"
                       name="lastname" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Miejscowość:</label>
                <input [(ngModel)]="user.city" type="text" class="form-control"
                       name="city" required="required">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Kod pocztowy:</label>
                <input [(ngModel)]="user.postalCode" type="text" class="form-control"
                       name="postalCode">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Ulica:</label>
                <input [(ngModel)]="user.street" type="text" class="form-control"
                       name="street">
              </div>
            </div>
            <div class="col-sm-6 col-md-3">
              <div class="form-group">
                <label>Nr domu:</label>
                <input [(ngModel)]="user.houseNr" type="text" class="form-control"
                       name="houseNr">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Telefon:</label>
                <input [(ngModel)]="user.phone" type="text" class="form-control"
                       name="phone">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Województwo:</label>
                <input [(ngModel)]="user.voivodeship" type="text" class="form-control"
                       name="voivodeship">
              </div>
            </div>
          </div>
          <div class="box-footer d-flex flex-wrap align-items-center justify-content-between">
            <a class="btn btn-info custom-btn left-col" [routerLink]="['/user']">Cofnij</a>
            <button class="btn btn-danger custom-btn right-col">Usuń użytkownika</button>
            <button (click)="saveUser()" class="btn btn-secondary custom-btn right-col">Zapisz</button>
          </div>
        </div>

        <!--<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>-->
      </div>

      <!--<p class="small text-center text-muted my-5">-->
      <!--<em>More table examples coming soon...</em>-->
      <!--</p>-->

    </div>
    <!-- Sticky Footer -->
    <app-footer></app-footer>

  </div>
  <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fa fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!-- Core plugin JavaScript-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!-- Page level plugin JavaScript-->
<!--<script src="vendor/chart.js/Chart.min.js"></script>-->
<!--<script src="vendor/datatables/jquery.dataTables.js"></script>-->
<!--<script src="vendor/datatables/dataTables.bootstrap4.js"></script>-->

<!-- Custom scripts for all pages-->
<!--<script src="js/sb-admin.min.js"></script>-->

<!-- Demo scripts for this page-->
<!--<script src="js/demo/datatables-demo.js"></script>-->
<!--<script src="js/demo/chart-area-demo.js"></script>-->

</body>
