.box {
  margin: 80px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.box a.btn {
  margin-top: 25px;
}

.box .box-header {
  background: #f7f7f7;
  margin: 20px 0 20px;
  padding: 20px;
  border-top: 1px solid #eee;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.box .box-footer {
  background: #f7f7f7;
  margin-top: 30px;
  padding: 20px;
  border-top: 1px solid #eee;
}

.box.shipping-method, .box.payment-method {
  margin: 0;
  margin-bottom: 20px;
}

.box.shipping-method h4, .box.payment-method h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}

.box.shipping-method p, .box.payment-method p {
  font-size: 0.9rem;
  color: #555;
}

.box-footer a {
  margin: 0 !important;
}

.box-footer .right-col i {
  margin-left: 5px;
}

.box-footer .left-col i {
  margin-right: 5px;
}

h4, .h4 {
  font-size: 1.1rem;
}

.payment-method:hover {
  cursor: pointer;
}

.buttonpay {
  background-color: white;
  border: none;
}

.buttonpay:focus {
  background-color: indianred;
}
