table {
  font-size: 0.9rem;
}

table img {
  min-width: 50px !important;
  max-width: 50px !important;
  height: 50px;
}

a {
  color: black;
  text-decoration: none;
}
.btn {
  color: whitesmoke;
}
.btn-template-main {
  color: black;
}
